h1 {
	text-align: center;
	color: crimson;
}

/* 
	* Tipos de posicionamiento:
	- static
	- relative
	- fixed
	-absolute
	- sticky
*/
div {
	position: fixed;
	top: 0;
	left: 0;
	max-width: 50%;
	border: 3px solid firebrick;

}