h1 {
	text-align: center;
	color: crimson;
}

div {
	padding: 10px 15px 5px 3px;
	border: 15px solid powderblue;
	margin: 20px;
	background-color: aquamarine;
	width: 300px;
	outline: 10px solid #a8dadc;
	outline-offset: 10px;
}